[package]
name = "bmputil"
version = "0.1.0"
edition = "2021"

[features]
# Enable backtraces for errors. Requires nightly toolchain.
# Automatically enabled if detect-backtrace feature is enabled (default).
backtrace = []
# Autoamtically detect if backtrace feature should be enabled by detecting the channel we're being compiled on.
detect-backtrace = []
# Automatically build libusb and statically link it instead of using system libusb.
vendored = ["rusb/vendored"]
default = ["detect-backtrace", "vendored"]

[dependencies]
clap = { version = "3.0", default-features = false, features = ["std", "color"] }
env_logger = "0.9"
dfu-core = { version = "0.4.2", features = ["std"] }
dfu-libusb = "0.3"
rusb = "0.9"
log = "0.4"
const_format = "0.2"
anyhow = "1.0"
thiserror = "1.0"
indicatif = "0.16"
termcolor = "1.1.3"
goblin = { version = "0.5.3", default-features = false, features = ["std", "elf32", "elf64", "endian_fd"] }
libc = "0.2.132"

[target.'cfg(windows)'.dependencies]
wdi = { "git" = "https://github.com/Qyriad/wdi-rs" }
deelevate = "0.2.0"
libc = "0.2.132"

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3.9"
features = ["std", "setupapi", "winuser"]

[build-dependencies]
rustc_version = "0.4"
static_vcruntime = "2.0"

[profile.release]
lto = "fat"
